.creator {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: #3B3B3B;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.creator__position {
  display: flex;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: #858584;
}

.creator__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.creator__name {
  font-family: 'Work Sans', sans-serif;
  max-width: 10rem;
  width: 100%;
}

.creator__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.creator__avatar > img {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: cover;
}

.creator__change,
.creator__number_sold {
  display: none;
}

.positive__change {
  color: #00FF00;
}

.negative__change {
  color: #FF0000;
}

@media screen and (min-width: 768px) {

  .creator__change {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .creator__number_sold {
    display: block;
  }

}
