
.MoreNFTS{
    width: 90%;
    padding: 20px;
}



.btnContainer{
    display: flex;
    justify-content: end;
    z-index: 0;

}

  
@media screen and (max-width: 610px) {

    .titleMoreNFT{
        display: none;

    }

    .MoreNFTS{
        display: flex;
        flex-direction: column-reverse;
    }
  
  }