.button{
    border-radius: 1.25rem;
    background: var(--background-secondary, #3B3B3B);
    color: white;
    text-transform: uppercase;
    display: flex;
    height: 2.875rem;
    padding: 0rem 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border: none;
    margin-top: 10px ;
  }
  .button:hover {
    background-color: purple;
    cursor: pointer;
  }