.logo-container {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo-title {
    font-weight: 700;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
}

.footer-title {
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@media screen and (min-width: 1080px) {
    .logo-title {
        font-size: 22px;
        text-transform: capitalize;
    }
}