.subscribeWidget {
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.sectionheadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 315px;
    gap: 40px;
}

.Frame {
    display: flex;
    gap: 15px;
    width: 10rem;
    height: 5.5rem;
    margin-top: 1rem;
}

.Frame p {
    display: flex;
    height: 90px;
    padding: 35px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
}

.textframe {
    width: 315px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.textframe h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.textframe p {
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 140%;
}

.subscribeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.btnSubscribe {
    font-family: Work Sans;
    display: flex;
    width: 315px;
    height: 46px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    gap: 12px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    border: none;
}


@media screen and (min-width: 819px) {

    .widgetContainer {
        display: flex;
        padding: 40px 195px 80px 195px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sectionheadline {
        width: 320px;
        height: 280px;
    }

    .subscribeContainer {
        position: relative;
    }

    .inputFooter {
        width: 420px;
        height: 60px;
    }

    .subscribeWidget {
        display: flex;
        width: 690px;
        height: 360px;
        padding: 40px 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: #3B3B3B;
        gap: 30px;
    }

}

@media screen and (min-width: 1080px) {

    .btnSubscribe {
        width: 211px;
        height: 60px;
        text-align: center;
    }

    .subscribeContainer button {
        position: absolute;
        left: 50%;
    }

    .sectionheadline {
        width: 425px;
        height: 272px;
    }

    .subscribeWidget {
        display: flex;
        width: 1050px;
        height: 430px;
        padding: 60px;
        align-items: center;
        gap: 80px;

    }

}