.imgCreateAccount {
    max-width: 100%;
    box-sizing: border-box;
}

.imageContainer {
    width: 100%;
    height: 232px;
}

.btnCreateAccount {
    display: flex;
    width: 315px;
    height: 46px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
    background: var(--call-to-action, #A259FF);
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.createAccountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.createForm {
    display: flex;
    width: 315px;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 40px 0px;
    gap: 30px;
}

.headlineContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


@media screen and (min-width: 764px) {
    .createAccountContainer {
        flex-direction: row;
        max-width: 834px;
        align-items: center;
        gap: 40px;
    }

    .createForm {
        width: 397px;
        padding: 80px 0px;
        align-items: flex-start;
        gap: 40px;
    }

    .imageContainer {
        width: 397px;
        height: 615px;
    }

}

@media screen and (min-width: 1080px) {
    .createAccountContainer {
        gap: 60px;
        max-width: 1280px;
    }

    .createForm {
        display: flex;
        padding: 100px 0px;
        gap: 40px;
    }

    .imageContainer {
        width: 610px;
        height: 691px;
    }
}