:root{
    background:#2B2B2B;
}



.NFTPagedesktop{
    align-items: flex-start;
    background-color: var(--background);
    border: 1px none;
    display: flex;
    flex-direction: column;
    min-width: 1280px;
    position: relative;
}


.NFT_page{
    width: 100%;
}

.BannerNFT{
    background-image: url(../../assets/images/bannerNFTPage.jpg);
    width: 100%;
    height: 560px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

.BannerNFTMobile {
    height: 340px ;
    background-color: url(../../assets/images/bannerNFTPage_mobile.jpg);
    display: none;
}


@media (max-width: 834px){

}

@media screen and (max-width: 375px) {
    .BannerNFT{
        display: none;
    }
    .BannerNFTMobile{
        display: block;
    }



}